body {
    margin:0;
    padding: 0;
    overflow: hidden;
}

.gridContainer { 
    background-image: url('./board-mat.jpg');
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 99vh;
    width: 100vw;
    background-size: cover;
    justify-content: space-between;
}

.board { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 58%;
    top: 7%;
    height: 30%;
    left: 6%;
}

.position-1, .position-2, .position-3, .position-4, .position-5, .position-6, .position-7, .position-8, .position-9 { 
    border: 1px solid red;
    flex-basis: 30%;
    height: calc(84vh / 3);
}

.playerHand { 
    flex-basis: 14%;
}

.opponentHand { 
    flex-basis: 14%;
}

.playerScore { 
    position: relative;
    height: 10%;
    top: 87%;
    right: 13%;
}

.opponentScore { 
    position: relative;
    height: 10%;
    top: 87%;
    right: 11%;
}




