body { 
    background: url('./board-mat.jpg') no-repeat center center fixed;
    background-size: cover;
    /* margin-right: 0;
    margin-left: 0; */
}

.main-container { 
    border: 1px solid yellow;
    height: 100vh;
}

.first-row { 
    border: 3px solid red;
    height: 7vh;
}

.first-column { 
    border: 3px solid blue;
    height: inherit;
}

.second-column { 
    border: 3px solid blue;
    height: inherit;
}

.third-column { 
    border: 3px solid blue;
    height: inherit;
}

.second-row { 
    border: 3px solid red;
    height: 86vh;
}

.fourth-column { 
    border: 3px solid blue;
    height: inherit;
}

.fifth-column { 
    border: 3px solid blue;
    height: inherit;
}

.sixth-column { 
    border: 3px solid blue;
    height: inherit;
}

.third-row { 
    border: 3px solid red;
    height: 7vh;
}

.seventh-column { 
    border: 3px solid blue;
    height: inherit;
}

.eigth-column { 
    border: 3px solid blue;
    height: inherit;
}

.ninth-column { 
    border: 3px solid blue;
    height: inherit;
}

