.card { 
    display: grid; 
    justify-content: space-around;
    max-height: 18vh;
}

img.cardImage {
    max-height: inherit;
    max-width: inherit;
}

.red-card { 
    background-color: red
}

.blue-card { 
    background-color: blue
}