.card { 
    display: grid; 
    justify-content: space-around;
    max-height: 18vh;
}

img.card-image {
    max-height: inherit;
    max-width: inherit;
}

.red-card {
    /* background: linear-gradient(to bottom, rgba(255, 0, 0, 100));  */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 50%, rgb(255, 0, 0) 100%)
}

.blue-card { 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,5,255,1) 100%);
}